@font-face {
  font-family: Lora;
  font-weight: 400;
  font-style: normal;
  src: url('Lora-Regular.ttf') format('ttf')
}
@font-face {
    font-family: Lora;
    font-weight: 700;
    src: url('Lora-Bold.ttf') format('ttf')
}
