@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url('Lato-Regular.ttf') format('ttf')
}
@font-face {
    font-family: Lato;
    font-weight: 700;
    src: url('Lato-Bold.ttf') format('ttf')
}
